body {
  height: 100vh;
  color: #fff;
}
.hints {
  height: 50vh;
  width: 100%;
}
.buttons {
  height: 50vh;
  width: 100%;
  position: relative;
}
.buttons a {
  width: 50%;
  height: 50%;
  position: absolute;
  display: block;
}
.top-left-btn {
  top: 0;
  left: 0;
  background-color: red;
}
.top-right-btn {
  top: 0;
  right: 0;
  background-color: yellow;
}
.btm-left-btn {
  bottom: 0;
  left: 0;
  background-color: greenyellow;
}
.btm-right-btn {
  bottom: 0;
  right: 0;
  background-color: deeppink;
}
.buttons a:hover, .buttons a:focus {
  background-color: black;
}
a.disabled:hover, a.disabled:focus {
  background-color: lightgrey;
  cursor: default;
}
.box {
  height: 50%;
  width: 100%;
}
.start {
  background-color: aquamarine;
}
.info {
  background-color: darkgrey;
}
.settings {
  background-color: rebeccapurple;  
}
h1, h2 {
  margin-top: 0;
  padding: 0.5em 0 0;
}
.restart {
  margin-top: 1em;
}
.strict-tgl {
  margin-top: 0;
}
.parent {
  display: table;
}
.child {
  display: table-cell;
  vertical-align: middle;
}
.col-xs-12, col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

/* media queries */
/* from tablets horizontally */
@media screen and (min-width: 769px) {
  .hints {
    height: 100vh;
    width: 50%;
  }
  .buttons {
    height: 100vh;
    width: 50%;
  }
}
/* any mobile device in orientation landscape */
@media screen and (orientation: landscape) {
  .hints {
    height: 100vh;
    width: 50%;
  }
  .buttons {
    height: 100vh;
    width: 50%;
  }
}